<div class="all">
    <div class="about-me-component">
        <div class="lets-work">
            <span class="headline">
                about me
            </span>
        </div>
        <div class="info">
            <div class="text"> 
                <span>
                    With six years of experience in customer service and sales, I bring a customer-centric approach with 
                    the motto 'Keep it Simple' to the development of web applications as a Junior Web Developer. 
                    My goal is to create user-friendly solutions that are intuitive and provide a seamless user experience. 
                    Through an intensive bootcamp, I have acquired the latest web technologies and am ready to apply my skills 
                    to develop innovative and engaging web applications.
                </span>
                <br>
                <span class="break"></span>
            </div>
            <div class="message-button">
                <a href="#contact" class="git"></a>
            </div>
        </div>
    </div>  
</div>
