<div class="about-me">
    <div class="front">
        <!-- <div class="background">
            <img class="green" src="assets/img/green.svg">
            <img class="blue" src="assets/img/blue.svg">
        </div> -->
        <div class="text-section">
            <img class="green" src="assets/img/green.svg">
            <img class="blue" src="assets/img/blue.svg">
            <span class="greet typing-animation" translate> Hi all, 🙋‍♂️</span>
            <span class="name typing-animation" translate> I'm Jan Woll </span>
            <span class="job-description typing-animation" translate>> front-end developer </span>
            <span class="typed-text" #typedText></span>
        </div>

        <div class="frame">
            <!-- <img class="me"src="assets/img/me.png"> -->
        </div>
    </div>
</div>
    <!-- <div class="icons">
        <a href="https://github.com/Trawollta" target="_blank">
            <img src="assets/icons/grit.svg" alt="Git">
        </a>
        <a href="mailto: woll.jan@googlemail.com">
            <img src="assets/icons/mail.svg" alt="Email">
        </a>
        <a href="https://www.linkedin.com/in/jan-woll-798700264/" target="_blank">
            <img src="assets/icons/linked in.svg" alt="LinkedIn">
        </a>
    </div> -->

