<div class="my-work-component">
  <div class="header">
    <h1>{{ 'my-work' }} <span data-aos="rocket-disappear">🚀</span></h1> 
  </div>
  
  <div class="project-container">
    <ng-container *ngFor="let project of projects; let i = index; let even = even">
      <div class="project-wrapper" 
      [ngClass]="{ 'project-class-left': even, 'project-class-right': !even }">
      <!-- <div class="project-wrapper" 
      [ngClass]="{ 'project-class-left': even, 'project-class-right': !even }"
      [attr.data-aos]="even ? 'fade-right' : 'fade-left'"> -->
      
        <div class="project-scene" [ngClass]="{'reversed': i % 2 !== 0}">
          
          <div class="project-screen">
            <img src="{{ project.image }}">
          </div>
          <img class="project-screen-img" src="assets/icons/projectframe.png">
        </div>
        <div class="textarea">
          <div class="project-name">
            <span>{{ project.name }}</span>
          </div>
          <div class="project-language">
            <span>{{ project.language }}</span>
          </div>
          <div class="project-description">
            <span>{{ project.description }}</span>
          </div>
          <div class="button-area">
            <div class="git">
              <a class="g-btn" href="{{ project.git }}" target="_blank">github</a>
            </div>
            <div class="live">
              <a class="l-btn" href="{{ project.live }}" target="_blank">live</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
