<div class="skill-set">
    <h2>{{ 'skill-set' }}</h2>
    
    <div class="icons">
        <div data-aos="fade-right" data-aos-delay="0">
            <img src="assets/icons/angular.svg"> 
        </div>
        <div data-aos="fade-right" data-aos-delay="100">
            <img src="assets/icons/type-script.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="200">
            <img src="assets/icons/java-script.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="300">
            <img src="assets/icons/html.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="400">
            <img src="assets/icons/scrum.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="500">
            <img src="assets/icons/firebase.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="600">
            <img src="assets/icons/git.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="700">
            <img src="assets/icons/css.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="800">
            <img src="assets/icons/api.svg">
        </div>
        <div data-aos="fade-right" data-aos-delay="900">
            <img src="assets/icons/material-design.svg">
        </div>
    </div>
</div>
